<%- include('header.ejs',{title: "Login", css: "login", status: "Login"}) %>
<body>
    <div>
        <% if(locals.message) {%>
            <h3><%= message %></h3>
        <% } %>

    </div>
    <div>
        <form method="post" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username" value="" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button class="full-width" type="submit">Login</button>
            </button>
        </form>
    </div>

    <div>
        <h3>
            <a class = "poppins-regular create-acct-anchor" href="/create">Create a new acoount</a>
        </h3>
    </div>
</body>